<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD66odV9_CC1Zrq0xcLso5AdCvdFdzEz1M</string>
	<key>GCM_SENDER_ID</key>
	<string>511340855025</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>callmeoni.MovieGuide</string>
	<key>PROJECT_ID</key>
	<string>movieguide-b0798</string>
	<key>STORAGE_BUCKET</key>
	<string>movieguide-b0798.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:511340855025:ios:2a0e951b4bc1b6da233350</string>
</dict>
</plist>